@import "./header.css";
@import "./footer.css";


*{
    /* border: 1px solid black; */
}
.workshop_banner{
	text-align: center;
    width: calc(100% - 160px);
    margin: 0 auto;
    /* border: 2px solid blue; */

}

.workshop_banner img{
    max-width: 100%;
}

.main{
    margin: 0 auto;
    color: #956134;
    width: calc(100% - 160px);
}

.title{
    font-family: Felix Titling;
	color: #956134;
	font-size: 4rem;
    letter-spacing: 20px;
    text-align: center;
    margin-top: 50px;
}

.title_chinese {
	display: flex;
	font-size: 18px; 
	font-family: baskerville-display-pt,YuMincho,Yu Mincho;
	letter-spacing: 12px;
	justify-content: center;
	margin-top: 40px;
}

.title_chinese h2{
	margin: 0 10px 0px 10px;
}

/* 工作坊敘述 */
.workshop_descript{
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
    line-height: 2rem;
    font-size: 14px;
    letter-spacing: 5px;
}

/* 預約流程--------------------------------------- */
.booking_sop{
    margin: 0 auto;
    margin-bottom: 100px;
    /* border: 1px solid red; */

}

.booking_title{
    text-align: center;
    letter-spacing: 30px;
    margin: 100px 0 40px 0;
    font-size: 21px;
    font-weight: bold;

}

.booking_sop hr{
	width: 100px;
    text-align: center;
    margin: 0 auto;

}

.booking_sop_step{

    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.step{
    display: inline-block;
    width: 30%;
    height: 200px;
}

.step img{
    max-width: 100%;
}

.booking_btn{
    margin: 0 auto;
    text-align: center;
    
}

.booking_btn a{
	background-color: #956134;
	color: white;
	padding: 12px 40px;
	border-radius: 20px;
    letter-spacing: 12px;
    margin: 30px 0 30px 0;
    display: inline-block;
    text-decoration: none;
}

/*卡片區域-----------------------------*/

.card_content{
	display: flex;
	margin-top: 50px;
	justify-content: space-between;
}

/*卡片區塊*/
.card_img{
    display: inline-block;
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/*卡片圖片尺寸*/
.card_img img{
	width: 100%;
}

/*卡片圖片敘述*/
.card_img_title {
    color: #956134;
    text-decoration: none;
    cursor: pointer;

}

.card_img_title span{
    display: inline-block;
	font-family: baskerville-display-pt,YuMincho,Yu Mincho;
	font-size: 18px;
	font-weight: bold;
    letter-spacing: 8px;
    margin: 20px 0 8px 0;
}

.descript{
    font-family: Felix Titling; 
    font-size: 14px;
    letter-spacing: 5px;
    line-height: 21px;

}

.price{
    font-family: Felix Titling; 
    font-size: 16px;
    letter-spacing: 5px;
    margin: 8px 0 20px 0;

}